*{
    border: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body{
    background-color: #121214;
}


/* NAV */
nav{
    width: 100%;
    height:250px ;
    background-color: #17171A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:25px;
}

nav > div > h1{
    font-size: 40px;
    font-weight: 500;
    color: white;
    font-family: Space Grotesk;
}

.coteiner-logo{
    display: flex;
    flex-direction: row;
}

nav input{
    width: 60vw;
    height: 40px;
    font-size: 20px;
    padding: 10px;
    background-color: transparent;
    color: white;
}

nav input:focus-visible{
    outline: none;
}

.coteiner-input{
    display: flex;
    padding: 2px;
    background-color: #252529;
    border-radius: 8px;
}



/* MAIN */


main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:30px ;
    gap: 30px;
}



/* CARD */
.card{
    width: 60vw;
    height:202px;
    background-color: #17171A;
    border: solid 2px #E07B67;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
}
.card h2{
    color: white;
    font-family: space grotesk;
}
.card div p{
    color: #E07B67;
    font-family: inter;
}
.card p{
    color:#AFABB6;
    font-family: inter;
}
.card div span{
    color: #E07B67;
    font-size: 30px;
}
#icon-card-heart{
    display: flex;
    justify-content: space-between;
}


/* TABLET */

@media (max-width:850px){

    nav{
        height: 150px;
    }

    .card{
        height: 35vh;
        width: 80vw;
    }
    .card h2{
        font-size: 26pt;
    }
    .card  p{
        font-size: 18pt;
    }
    nav div input{
        width: 80vw;
    }
} 


@media (max-width:650px){
    .card{
        height: 45vh;
        width: 90vw;
    }
    .card h2{
        font-size: 16pt;
    }
}